.login-form {
    display: grid;
    width: 60%;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1.5, 2rem);
    grid-template-areas:
        'username-field username-field'
        'password-field password-field'
        '. .'
        'login-btn cancel-btn'
        'register-btn register-btn';
    ;
}

body {
    display: grid;
    height: 150vh;
    grid-template-rows: min-content auto;
    grid-template-areas:
        'heading'
        'body';
    grid-template-columns: 100%;
}
    body > main {
        grid-area: body;
    }
    body > div.heading-container {
        grid-area: heading;
    }

input.username-box {
    grid-area: username-field;
}

input.password-box {
    grid-area: password-field;
}

button.login-btn {
    grid-area: login-btn;
}

button.cancel-btn {
    grid-area: cancel-btn;
}

button.register-btn {
    grid-area: register-btn;
}

.login-form-container {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
