input.input-box {
    text-align: center;
    border: 1.5px solid black;
    background-color: transparent;
    
}

    input.input-box::placeholder {

        opacity: 1;
        text-align: center;
        text-align: center;
 
    }

    input.input-box::-moz-placeholder,
    input.input-box::-webkit-placeholder {
        text-align: center;
        text-align: center;
        opacity: 0.9;
    }
